<script src="__CDN__/assets/js/jquery-3.2.1.js"></script>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">选择监督人员:</label>
        <div class="col-xs-12 col-sm-8">
            {volist name="$quality" id="q"}
                <input type="checkbox" name="qulity_name[]" value="{$q.name}" />{$q.name}<br/>
            {/volist}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">检查任务:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea name="task" style="width:300px;height:150px;"></textarea>
        </div>
       
    </div>
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="submit" class="btn btn-success btn-embossed ">{:__('OK')}</button>
        <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
    </div>
</form>