<script src="__CDN__/assets/js/jquery-3.2.1.js"></script>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="begin_time" class="control-label col-xs-12 col-sm-2">开工时间:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="datetimepicker form-control" id="begin_time" data-date-format="YYYY-MM-DD" name="row[begin_time]" value="{$row.begin_time}"  />
        </div>
    </div>
    <div class="form-group">
        <label for="finish_time" class="control-label col-xs-12 col-sm-2">竣工日期:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="datetimepicker form-control" id="finish_time" data-date-format="YYYY-MM-DD" name="row[finish_time]" value="{$row.finish_time}"  />
        </div>
    </div>
    <div class="form-group">
        <label for="push_time" class="control-label col-xs-12 col-sm-2">报建日期:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="datetimepicker form-control" id="push_time" data-date-format="YYYY-MM-DD" name="row[push_time]" value="{$row.push_time}"  />
        </div>
    </div>
    <div class="form-group">
        <label for="register_time" class="control-label col-xs-12 col-sm-2">监督注册表审批时间:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="datetimepicker form-control" id="register_time" data-date-format="YYYY-MM-DD" name="row[register_time]" value="{$row.register_time}"  />
        </div>
    </div>
    <div class="form-group">
        <label for="permit_time" class="control-label col-xs-12 col-sm-2">施工许可审批时间:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="datetimepicker form-control" id="permit_time" data-date-format="YYYY-MM-DD" name="row[permit_time]" value="{$row.permit_time}"  />
        </div>
    </div>
    <div class="form-group">
        <label for="check_company" class="control-label col-xs-12 col-sm-2">检测公司:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="check_company" name="info[check_company]" value="{$info.check_company}"  />
        </div>
    </div>
    <div class="form-group">
        <label for="check_person" class="control-label col-xs-12 col-sm-2">检测负责人:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="check_person" name="info[check_person]" value="{$info.check_person}" />
        </div>
    </div>
    <div class="form-group">
        <label for="picture_company" class="control-label col-xs-12 col-sm-2">图审机构公司名:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="picture_company" name="info[picture_company]" value="{$info.picture_company}"  />
        </div>
    </div>
    <div class="form-group">
        <label for="picture_person" class="control-label col-xs-12 col-sm-2">图审机构联系人:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="picture_person" name="info[picture_person]" value="{$info.picture_person}"  />
        </div>
    </div>
    <div class="form-group">
        <label for="build_person" class="control-label col-xs-12 col-sm-2">建设负责人:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="build_person" name="info[build_person]" value="{$info.build_person}"  />
        </div>
    </div>
    
    <div class="form-group">
            <label for="special_one" class="control-label col-xs-12 col-sm-2">专监1:</label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" id="special_one" name="row[special_one]" value="{$row.special_one}"
                    />
            </div>
        </div>
        <div class="form-group">
            <label for="special_two" class="control-label col-xs-12 col-sm-2">专监2:</label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" id="special_two" name="row[special_two]" value="{$row.special_two}"
                     />
            </div>
        </div>
        <div class="form-group">
            <label for="supervisor_one" class="control-label col-xs-12 col-sm-2">监理员1:</label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" id="supervisor_one" name="row[supervisor_one]" value="{$row.supervisor_one}"
                     />
            </div>
        </div>
        <div class="form-group">
            <label for="supervisor_two" class="control-label col-xs-12 col-sm-2">监理员2:</label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" id="supervisor_two" name="row[supervisor_two]" value="{$row.supervisor_two}"
                    />
            </div>
        </div>
        <div class="form-group">
            <label for="builder_one" class="control-label col-xs-12 col-sm-2">施工员1:</label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" id="builder_one" name="row[builder_one]" value="{$row.builder_one}"
                    />
            </div>
        </div>
        <div class="form-group">
            <label for="builder_two" class="control-label col-xs-12 col-sm-2">施工员2:</label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" id="builder_two" name="row[builder_two]" value="{$row.builder_two}"
                     />
            </div>
        </div>
        <div class="form-group">
            <label for="quality_one" class="control-label col-xs-12 col-sm-2">质安员1:</label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" id="quality_one" name="row[quality_one]" value="{$row.quality_one}"
                     />
            </div>
        </div>
        <div class="form-group">
            <label for="quality_two" class="control-label col-xs-12 col-sm-2">质安员2:</label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" id="quality_two" name="row[quality_two]" value="{$row.quality_two}"
                    />
            </div>
        </div>

 

    <div class="form-group">
        <label for="project_kind" class="control-label col-xs-12 col-sm-2">工程类别:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="project_kind"  name="info[project_kind]" class="form-control">
                <option value="0" {in name="info.project_kind" value="0"}selected{/in}>市政建设</option>
                <option value="1"{in name="info.project_kind" value="1"}selected{/in}>房建</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="energy" class="control-label col-xs-12 col-sm-2">节能:</label>
        <div class="col-xs-12 col-sm-8">
                <select  id="energy"  name="info[energy]" class="form-control">
                        <option value="0" {in name="info.energy" value="0"}selected{/in}>否</option>
                        <option value="1"{in name="info.energy" value="1"}selected{/in}>是</option>
                    </select>
        </div>
    </div>
    <div class="form-group">
        <label for="extend" class="control-label col-xs-12 col-sm-2">道路工程延长米(米):</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="extend" name="info[extend]" value="{$info.extend}"  />
        </div>
    </div>
    <div class="form-group">
        <label for="structure" class="control-label col-xs-12 col-sm-2">结构形式:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="structure" name="info[structure]" value="{$info.structure}"  />
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">层数（地上）:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control"  name="floor[]" value="{$info.floor_up}"  />
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">层数（地下）:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control"  name="floor[]" value="{$info.floor_down}"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="situation" class="control-label col-xs-12 col-sm-2">工程进度:</label>
        <div class="col-xs-12 col-sm-2">
            <select  id="situation" name="info[situation]" class="form-control">
            {if $info.project_kind == 1 }
            <option value="0"{in name="info.situation" value="0"}selected{/in}>基础阶段</option>
            <option value="1"{in name="info.situation" value="1"}selected{/in}>主体阶段</option>
            <option value="2" {in name="info.situation" value="2"}selected{/in}>装饰阶段</option>
            <option value="3"{in name="info.situation" value="3"}selected{/in}>收尾</option>
            <option value="4" {in name="info.situation" value="4"}selected{/in}>完工</option>
            <option value="5"{in name="info.situation" value="5"}selected{/in}>竣工验收</option>
            {else /}
            <option value="0" {in name="info.situation" value="0"}selected{/in}>路基处理</option>
            <option value="1"{in name="info.situation" value="1"}selected{/in}>路面工程</option>
            <option value="2" {in name="info.situation" value="2"}selected{/in}>排水系统</option>
            <option value="3"{in name="info.situation" value="3"}selected{/in}>绿化照明</option>
            <option value="4" {in name="info.situation" value="4"}selected{/in}>标识标线</option>
            <option value="5"{in name="info.situation" value="5"}selected{/in}>完成</option>
            <option value="6"{in name="info.situation" value="6"}selected{/in}>竣工验收</option>
            {/if}
            </select>
        </div>
        <div id="jindu">
            <!-- <label for="schedule" class="control-label col-xs-12 col-sm-2">工程进度:</label> -->
            <div class="col-xs-12 col-sm-2">
                <input type="text" class="form-control" id="schedule" name="info[schedule]" value="{$info.schedule}"  />
            </div>
                    <div   class="col-xs-12 col-sm-4" style="text-align: center;color: red">主体阶段进度：分子代表进度，<br/>分母代表总数 如:1/22</div>
        </div>
    </div>
    <div class="form-group">
        <label for="status" class="control-label col-xs-12 col-sm-2">状态:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="status" data-rule="required" name="info[status]" class="form-control">
                <option value="0" {in name="info.status" value="0"}selected{/in}>未开工</option>
                <option value="1"{in name="info.status" value="1"}selected{/in}>在建</option>
                <option value="2" {in name="info.status" value="2"}selected{/in}>质量停工</option>
                <option value="3"{in name="info.status" value="3"}selected{/in}>安全停工</option>
                <option value="4" {in name="info.status" value="4"}selected{/in}>局停工</option>
                <option value="5"{in name="info.status" value="5"}selected{/in}>自停工</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="begin_time" class="control-label col-xs-12 col-sm-2">工程项目:</label>
        <div class="col-xs-12 col-sm-8" data-rule="required">
            <input type="checkbox" name="project_type[]" {if condition="in_array('1', $row.project_type)" }checked{/if}
                value="1" /> 房地产
            <input type="checkbox" name="project_type[]" {if condition="in_array('2', $row.project_type)" }checked{/if}
                value="2" /> 住宅
            <input type="checkbox" name="project_type[]" {if condition="in_array('3', $row.project_type)" }checked{/if}
                value="3" /> 保障性住房
            <input type="checkbox" name="project_type[]" {if condition="in_array('4', $row.project_type)" }checked{/if}
                value="4" /> 公共建筑
            <br />
            <input type="checkbox" name="project_type[]" {if condition="in_array('5', $row.project_type)" }checked{/if}
                value="5" /> 工业建筑
            <input type="checkbox" name="project_type[]" {if condition="in_array('6', $row.project_type)" }checked{/if}
                value="6" /> 装修装饰
            <input type="checkbox" name="project_type[]" {if condition="in_array('7', $row.project_type)" }checked{/if}
                value="7" /> 建筑设备安装
            <input type="checkbox" name="project_type[]" {if condition="in_array('8', $row.project_type)" }checked{/if}
                value="8" /> 市政基础建设
        </div>
    </div>
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<script>
      if($("#situation").val()==1 && $("#project_kind").val()==1){
            $("#jindu").show();
      }else{
        $("#jindu").hide();
      }
    $("#project_kind").change(function(){
        if($("#project_kind").val()==1){
            var str = '<option value="0">基础阶段</option><option value="1">主体阶段</option> <option value="2" >装饰阶段</option> <option value="3">收尾</option> <option value="4" >完工</option> <option value="5" >竣工验收</option>';
        }else {
            var str = ' <option value="0" >路基处理</option>  <option value="1">路面工程</option> <option value="2" >排水系统</option> <option value="3">绿化照明</option><option value="4" }>标识标线</option> <option value="5">完成</option> <option value="6">竣工验收</option>';
        }
        $("#situation").empty();
        $("#situation").append(str);
    });
    $("#situation").change(function(){
        if($("#situation").val()==1 && $("#project_kind").val()==1){
            $("#jindu").show();
        }else {
            $("#jindu").hide();
        }
   
    });
</script>