<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>详情</title>
</head>

<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>标题</th>
                <th style="width: 85%">内容</th>
            </tr>
        </thead>
        <tbody>
            </tr>
            <tr>
                <td>监督编号:</td>
                <td>
                    {$data.supervision_number}
                </td>
            </tr>
            <tr>
                <td>工程名称:</td>
                <td>
                        {$data.project_name}
                </td>
            </tr>
            <tr>
                <td>工程地点:</td>
                <td>
                        {$data.project_address}
                </td>
            </tr>
            <tr>
                <td>论证时间:</td>
                <td>
                        {$data.proof_time}
                </td>
            </tr>
            <tr>
                <td>论证地点:</td>
                <td>
                        {$data.proof_address}
                </td>
            </tr>
            <tr>
                <td>论证情况:</td>
                <td>
                        {$data.proof_info}
                </td>
            </tr>
            <tr>
                <td>论证内容:</td>
                <td>
                        {$data.proof_content}
                </td>
            </tr>
            <tr>
                <td>施工情况:</td>
                <td>
                        {$data.build_info}
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>